<!-- <%- partial('_partial/archive', {pagination: 2, index: true}) %> -->

<% site.posts.forEach(function(post){ %>
    <div class="aero-box">
      <h3>
        <a href="/<%- post.path %>">
          <%- post.title %>
        </a>
      </h3>
      <!-- <%- post.path %>
      <br />
      <%- post.slug %>
      <br />
      <%- post._id %>
      <br />
      <br />
      <%- post.date %>
      <br /> -->
    </div>
  <% }); %>